# Các file cấu hình của NetBeans
.nb-gradle/
nbproject/

# Các file log
*.log

# Các file hệ thống của macOS
.DS_Store

# Các file hệ thống của Windows
Thumbs.db

# Ignore tất cả các tệp .properties
*.properties

# Ignore tất cả các tệp .xml
*.xml
/dist/
